* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #1f2f44, #155757);
}


/*Header Start*/

.header {
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}

.header::-webkit-scrollbar {
    display: none;
}

.header {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header img {
    object-fit: contain;
    height: 80px;
    float: left;
}

.header:hover img {
    display: inline-flex;
}

.header_icons {
    display: flex;
    align-items: center;
    text-align: center;
}

.header_icon {
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}

.header_icon p {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    display: none;
    margin-top: 5px;
}

.header_icon:hover p {
    display: inline-flex;
}

.header_icon .material-icons {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.active p {
    display: inline-flex;
}


/*Header End*/


/*Navbar Start*/

.nav {
    color: white;
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    padding-left: 40px;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav h2 {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    opacity: 0.7;
    transition: transform 50ms ease-out;
}

.nav h2:hover {
    opacity: 1;
    transform: scale(1.2);
}


/*Navbar End*/


/*Movies*/

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}

.movie img {
    height: 300ox;
    object-fit: contain;
    width: 460px;
    border-radius: 5px;
}

.movie:hover {
    transform: scale(1.09);
}

.movie h2 {
    padding-top: 20px;
    font-size: medium;
}